#services{
    display:flex;
    align-items:center;
    justify-content:center;


}
.conta34{
    display:flex;
    gap:5rem;
    justify-content:space-between;



}
.subcon1:hover{
    background:transparent;
    border-color:var(--color-primary-varient);
    cursor:default;
    border:1px solid white;
}

.subcon1{
    background-color:var(--color-bg-varient);
 border-radius:0 0 3rem 3rem;
 padding:10rem 3.6rem;
 position:relative;
 height:50rem;
 transition:var(--transition)

}

.subcon2{
    background-color:var(--color-bg-varient);
 border-radius:0 0 3rem 3rem;
 padding:10rem 3.6rem;
 position:relative;
 transition:var(--transition)


}
.subcon2:hover{
    background:transparent;
    border-color:var(--color-primary-varient);
    cursor:default;
    border:1px solid white;
}

.headline{
    display:flex;
    align-items:center;
    justify-content:center;
    padding:2rem;
   background-color:var(--color-primary);
   color:black;
   position:absolute;
   top:0;
   left:50%;
   transform:translateX(-50%);
   width:100%;
   border-radius:0 0 2rem 2rem;
   


}

.listcontent{
        margin:0;
        padding:0;
}

.listitems{
    display:flex;
    gap:1rem;
    align-items:center;
    justify-content:center;
    width:18rem;
    height:3.5rem;
    margin:0.6rem;


    
}


/* medium devices */

@media screen and (max-width:1024px){
    .conta34{
        display:grid;
        gap:5rem;
        grid-template-columns: 1fr 1fr;
    
    
    
    }
} 

/* small */
@media screen and (max-width:600px){
    .conta34{
        display:flex;
        flex-direction:column;
        gap:5rem;
        justify-content:space-between;
    
    
    
    }

} 


